@import "../../../Styles/common.scss";

.Friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.Friend > span {
  font-size: $--font-size-small;
  font-weight: 600;
  color: $--color-blue;
  cursor: pointer;
}

.Friend > div {
  display: flex;

  img {
    width: 34px;
    height: 34px;
    margin-right: 9px;
    padding: 1px;
    border: 2px solid $--color-pink;
    border-radius: 50%;
    cursor: pointer;
  }
  .FriendDes {
    color: $--color-dark-grey;
    font-size: $--font-size-micro;
    cursor: pointer;
  }
}
