.Button {
  text-align: center;

  button {
    width: 100%;
    margin-top: 10px;
    padding: 6px 0px;
    color: var(--color-white);
    background-color: var(--color-white-blue);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
  }
}
