@import "../../../Styles/common.scss";

.Inputs {
  margin-top: 35px;

  .Input {
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 6px;
    border: 1px solid $--color-grey;
    border-radius: 4px;
    background-color: $--color-white-grey;

    input {
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: $--color-white-grey;
      border: none;
    }

    input::placeholder {
      font-size: 12px;
    }
  }
}
