@import "../../../../../Styles/common.scss";

.FeedMenu {
  height: 45px;
  border: 1px solid $--color-grey;
  border-top: none;
  border-bottom: none;
  background-color: $--color-white;
  transform: translateY(-5px);

  .FeedMenuContainer {
    width: 100%;
    height: 100%;
    padding: 0px 16px;

    .FeedMenuWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      .Menus {
        display: flex;
        li {
          display: flex;
          margin-right: 10px;
          transition: all $--annimation-duration linear;
          cursor: pointer;
        }
        li:first-child:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
